/*
$light-gray:					#f4f5f9;
$middle-gray:					#ebebf0;
$gray:					  		#e6e6ec;
$dark-gray: 					#333339;
$dark-gray-o:					rgba(51, 51, 57, .92);
$darker-gray:					#222227;
$darker-gray-o: 				rgba(34, 34, 39, .92);
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
/* BRANDON */
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.eot?#iefix") format("embedded-opentype"), url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.woff") format("woff"), url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
/* ROBOTO */
/* grid
----------------------------------------------------------------- */
/*

IMPORTANT:

Do not edit this CSS file directly. This file is generated by SASS.

SASS is a preprocessor that makes writing CSS a little easier.
You can write plain CSS in SASS if you like, but you should check
out some of the basic features that SASS gives you here:

http://sass-lang.com/guide

You can even give those things a try and see how SASS compiles here:

http://www.sassmeister.com/

TO EDIT THIS CSS:

- Open terminal and cd to the folder this file lives under
- Run grunt. This will watch for changes in the css-dev folder and
  compile your SASS every time you save.
- Make changes in any partial in css-dev. _layout.scss is a good place to start.
- Save, and watch this file update.

ANY CHANGES YOU MAKE IN THIS FILE WILL BE OVERWRITTEN WHEN THE SASS FILES ARE
EDITED. MAKE SURE YOU MAKE CHANGES IN YOUR SASS FILE.

*/
/* -----------------------------------------------------------------


	BODY
----------------------------------------------------------------- */
body {
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}
body p {
  color: #414142;
}

/* -----------------------------------------------------------------


	MASTHEAD
----------------------------------------------------------------- */
#primary #masthead {
  border-bottom: none;
  background-color: #191d38;
}

/* -----------------------------------------------------------------


	BANNER CONTAINER
----------------------------------------------------------------- */
.banner-container.any-width-blank {
  background: transparent;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.banner-wrapper {
  z-index: 1;
  display: block;
  width: 100%;
  background: #1b1c39;
  height: 100vh;
  position: relative;
  margin-top: -76px;
}
@media (min-width: 992px) {
  .banner-wrapper {
    background-color: transparent;
    background-image: url(images/video-mask.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
.lt-ie9 .banner-wrapper {
  background-color: transparent;
  background-image: url(images/video-mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-container h1 {
  font-family: "Brandon-Text", Times, serif;
  font-size: 38px;
  line-height: 52px;
}
@media (min-width: 768px) {
  .banner-container h1 {
    font-size: 68px;
    line-height: 90px;
  }
}
.lt-ie9 .banner-container h1 {
  font-size: 68px;
  line-height: 90px;
}
.banner-container h2 {
  display: inline-block;
  max-width: 375px;
  font-family: "Benton-Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;
}
@media (min-width: 768px) {
  .banner-container h2 {
    font-size: 19px;
    line-height: 28px;
  }
}
.lt-ie9 .banner-container h2 {
  font-size: 19px;
  line-height: 28px;
}
.banner-container h2:before {
  content: "";
  display: block;
  position: relative;
  top: -14px;
  height: 55px;
  width: 55px;
  margin: 0 auto 6px;
  background: url(images/shark-fin.png) center center no-repeat;
}
.banner-container h3 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #a2dfd0;
  font-weight: 100;
  text-transform: uppercase;
}
.banner-container .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
@media (min-width: 992px) {
  .banner-container .title {
    width: 33%;
  }
}
.lt-ie9 .banner-container .title {
  width: 33%;
}

.intro-container {
  width: 100%;
  text-align: left;
  z-index: 1;
  position: relative;
}
.intro-container .lede {
  max-width: 700px;
  margin: 0 20px;
  padding: 250px 0;
  font-family: "Benton-Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .intro-container .lede {
    margin: 0 auto;
  }
}
.lt-ie9 .intro-container .lede {
  margin: 0 auto;
}
.intro-container .lede .drop-cap {
  height: 73px;
  width: 82px;
  display: block;
  margin: 10px 17px 0px 0;
  border: 6px solid #a2dfd0;
  font-family: "Brandon-Text", Times, serif;
  font-size: 58px;
  font-weight: 600;
  line-height: 85px;
  text-align: center;
  float: left;
}
.intro-container .lede .emphasis {
  display: block;
  margin-top: 32px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.shark-video {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}
.shark-video video,
.shark-video img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.shark-video video {
  display: none;
}
@media (min-width: 992px) {
  .shark-video video {
    display: block;
  }
}
.lt-ie9 .shark-video video {
  display: block;
}
@media (min-width: 992px) {
  .shark-video img {
    display: none;
  }
}
.lt-ie9 .shark-video img {
  display: none;
}

/* -----------------------------------------------------------------


	CONTENT LAYOUT
----------------------------------------------------------------- */
.content-wrapper {
  background: #ffffff;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .content-wrapper {
    margin: 40px 0;
  }
}
.lt-ie9 .content-wrapper {
  margin: 40px 0;
}
@media (min-width: 992px) {
  .content-wrapper {
    margin: 50px 0;
  }
}
.lt-ie9 .content-wrapper {
  margin: 50px 0;
}

.article-feature .island {
  max-width: 700px;
}

/* -----------------------------------------------------------------


	TYPOGRAPHY
----------------------------------------------------------------- */
.island {
  max-width: 675px;
  font-family: "Benton-Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #414142;
}
.island a {
  border-bottom: 2px solid #a2dfd0;
  color: #191d38;
  text-decoration: none;
}
.island a:hover {
  border-bottom: 2px solid #a2dfd0;
  color: #a2dfd0;
  text-decoration: none;
}

.island_full h2,
.island h2,
.sidebar-inside h2,
article h2 {
  font-family: "Brandon-Text", Times, serif;
  font-weight: 600;
  color: #ffffff;
}
.island_full h3,
.island h3,
.sidebar-inside h3,
article h3 {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

.caption {
  margin-top: 0;
  padding: 30px 20px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #87878c;
  font-size: 15px;
  line-height: 26px;
  box-shadow: 0 0 12px 3px rgba(94, 101, 111, 0.15);
}
@media (min-width: 768px) {
  .caption {
    padding: 30px 40px 45px;
  }
}
.lt-ie9 .caption {
  padding: 30px 40px 45px;
}
.caption h3 {
  margin: 40px 0 10px;
  font-size: 18px;
  color: #6c90db;
}
.caption ul {
  list-style: none;
  margin: 0;
}
.caption li {
  font-size: 16px;
  color: #87878c;
}

.credit {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #6c90db;
  font-style: italic;
  text-transform: uppercase;
}

.sidebar-title .credit {
  right: 0 !important;
  left: 10px;
  top: 40px;
  margin: 0;
  color: #6c90db !important;
}
@media (min-width: 992px) {
  .sidebar-title .credit {
    left: -40px;
  }
}
.lt-ie9 .sidebar-title .credit {
  left: -40px;
}

/* ------------------------------------------


	HEADERS
------------------------------------------ */
.island_full {
  margin: -20px;
}
@media (min-width: 768px) {
  .island_full {
    margin: 0;
  }
}
.lt-ie9 .island_full {
  margin: 0;
}

.header-wrapper {
  width: 100%;
  height: 250px;
  margin: 75px auto 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .header-wrapper {
    max-width: 1220px;
    height: 350px;
    margin: 100px auto 40px;
  }
}
.lt-ie9 .header-wrapper {
  max-width: 1220px;
  height: 350px;
  margin: 100px auto 40px;
}
.header-wrapper h2 {
  top: 80px;
  font-size: 38px;
  line-height: 42px;
  position: relative;
  display: inline-block;
  z-index: 5;
}
@media (min-width: 500px) {
  .header-wrapper h2 {
    top: 90px;
    padding: 0 74px;
  }
}
.lt-ie9 .header-wrapper h2 {
  top: 90px;
  padding: 0 74px;
}
@media (min-width: 768px) {
  .header-wrapper h2 {
    top: 135px;
    padding: 0 75px;
    font-size: 52px;
    line-height: 52px;
  }
}
.lt-ie9 .header-wrapper h2 {
  top: 135px;
  padding: 0 75px;
  font-size: 52px;
  line-height: 52px;
}
@media (min-width: 992px) {
  .header-wrapper h2 {
    top: 155px;
  }
}
.lt-ie9 .header-wrapper h2 {
  top: 155px;
}
.header-wrapper .shape {
  top: -62px;
  width: 100px;
  height: 110px;
  position: relative;
  margin: 0 auto;
  border: 22px solid #6c90db;
  z-index: 3;
}
@media (min-width: 500px) {
  .header-wrapper .shape {
    top: -62px;
    width: 125px;
    height: 130px;
  }
}
.lt-ie9 .header-wrapper .shape {
  top: -62px;
  width: 125px;
  height: 130px;
}
@media (min-width: 768px) {
  .header-wrapper .shape {
    top: -70px;
    width: 190px;
    height: 200px;
  }
}
.lt-ie9 .header-wrapper .shape {
  top: -70px;
  width: 190px;
  height: 200px;
}
@media (min-width: 992px) {
  .header-wrapper .shape {
    top: -20px;
  }
}
.lt-ie9 .header-wrapper .shape {
  top: -20px;
}
.header-wrapper .credit {
  position: absolute;
  right: 40px;
  display: block;
  margin-top: 22px;
  color: rgba(230, 230, 236, 0.3);
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  z-index: 1000;
}

.header-one {
  background: url(images/gregskomal-shark-wrapper.png) center center no-repeat #192340;
}

.header-two {
  background: url(images/gregskomal-shark-wrapper2.png) center center no-repeat #192340;
}
.header-two h2 {
  padding: 0 50px;
}
@media (min-width: 500px) {
  .header-two h2 {
    padding: 0 127px;
  }
}
.lt-ie9 .header-two h2 {
  padding: 0 127px;
}
@media (min-width: 768px) {
  .header-two h2 {
    padding: 0 201px;
  }
}
.lt-ie9 .header-two h2 {
  padding: 0 201px;
}

.screen {
  height: 250px;
  top: -262px;
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1220px;
  background-color: rgba(25, 35, 64, 0.75);
  z-index: 1;
}
@media (min-width: 500px) {
  .screen {
    top: -282px;
  }
}
.lt-ie9 .screen {
  top: -282px;
}
@media (min-width: 768px) {
  .screen {
    height: 350px;
    top: -371px;
  }
}
.lt-ie9 .screen {
  height: 350px;
  top: -371px;
}
@media (min-width: 992px) {
  .screen {
    top: -320px;
  }
}
.lt-ie9 .screen {
  top: -320px;
}

/* -----------------------------------------------------------------


	SIDEBARS
----------------------------------------------------------------- */
.sidebar {
  margin: 50px 0;
}
@media (min-width: 768px) {
  .sidebar {
    margin: 65px -62px;
  }
}
.lt-ie9 .sidebar {
  margin: 65px -62px;
}

.sidebar-title {
  height: 250px;
}
.sidebar-title h2 {
  display: inline-block;
  position: relative;
  margin: 130px 15px 0px;
  font-size: 28px;
  text-shadow: 0 2px 10px rgba(94, 101, 111, 0.2);
  /*
  	    @include breakpoint (sm) {
  		    margin: 180px 0 0;
  	    }
  */
}
@media (min-width: 500px) {
  .sidebar-title h2 {
    margin: 180px 0 0;
    font-size: 30px;
  }
}
.lt-ie9 .sidebar-title h2 {
  margin: 180px 0 0;
  font-size: 30px;
}
.sidebar-title .shape {
  position: relative;
  display: inline-block;
  top: 110px;
  height: 54px;
  width: 53px;
  margin: 0px 20px 0 15px;
  border: 8px solid #6c90db;
  z-index: 3;
}
@media (min-width: 500px) {
  .sidebar-title .shape {
    top: -15px;
  }
}
.lt-ie9 .sidebar-title .shape {
  top: -15px;
}
@media (min-width: 768px) {
  .sidebar-title .shape {
    top: -18px;
    height: 62px;
    width: 60px;
    margin: 0px 20px 0 18px;
  }
}
.lt-ie9 .sidebar-title .shape {
  top: -18px;
  height: 62px;
  width: 60px;
  margin: 0px 20px 0 18px;
}
.sidebar-title .shape:before {
  content: "+";
  position: relative;
  top: 20px;
  left: 12px;
  font-family: "Brandon-Text", Times, serif;
  font-size: 45px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 2px 10px rgba(94, 101, 111, 0.2);
}
@media (min-width: 768px) {
  .sidebar-title .shape:before {
    top: 23px;
    left: 16px;
  }
}
.lt-ie9 .sidebar-title .shape:before {
  top: 23px;
  left: 16px;
}
.sidebar-title .credit {
  position: absolute;
  right: -48px;
  display: block;
  margin-top: -37px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
  z-index: 1000;
}

.sidebar-seals {
  background: url(images/sidebar-seal.png) center top;
}

.sidebar-sharks {
  background: url(images/sidebar-sharks.png) center top;
}

.sidebar-text {
  box-shadow: 0 0 12px 3px rgba(94, 101, 111, 0.15);
  text-align: center;
  padding: 30px 15px;
}
@media (min-width: 500px) {
  .sidebar-text {
    padding: 50px 30px;
  }
}
.lt-ie9 .sidebar-text {
  padding: 50px 30px;
}
@media (min-width: 768px) {
  .sidebar-text {
    padding: 50px 100px;
  }
}
.lt-ie9 .sidebar-text {
  padding: 50px 100px;
}
.sidebar-text p {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #87878c;
}
.sidebar-text a {
  margin: 40px 0 12px;
  font-size: 15px;
  color: #6c90db;
  border-bottom: 1px solid #6c90db;
}

/* ------------------------------------------------------------------


	IMAGES
----------------------------------------------------------------- */
.article-feature .alignright {
  max-width: 100%;
  margin: -65px auto 20px;
}
@media (min-width: 500px) {
  .article-feature .alignright {
    max-width: 450px;
    margin: -65px 0 20px 40px;
  }
}
.lt-ie9 .article-feature .alignright {
  max-width: 450px;
  margin: -65px 0 20px 40px;
}
@media (min-width: 992px) {
  .article-feature .alignright {
    margin: -65px -100px 20px 40px;
  }
}
.lt-ie9 .article-feature .alignright {
  margin: -65px -100px 20px 40px;
}
.article-feature .image-wrapper {
  position: relative;
  /*
  		.alignright {
  		
  			@include breakpoint (xs) {
  				max-width: 450px;
  			    margin: -65px 0 20px 40px;
  			}
  			
  			@include breakpoint (sm) {
  				margin: -65px -100px 20px 40px;
  			}
  		}
  */
}
.article-feature .image-wrapper .shape {
  position: relative;
  display: inline-block;
  bottom: -152px;
  height: 54px;
  width: 53px;
  margin-left: 15px;
  border: 6px solid #a2dfd0;
  z-index: 3;
}
@media (min-width: 768px) {
  .article-feature .image-wrapper .shape {
    bottom: -194px;
    height: 59px;
    width: 58px;
  }
}
.lt-ie9 .article-feature .image-wrapper .shape {
  bottom: -194px;
  height: 59px;
  width: 58px;
}
.article-feature .image-wrapper .shape:before {
  content: "+";
  position: relative;
  top: 20px;
  left: 12px;
  font-family: "Brandon-Text", Times, serif;
  font-size: 45px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 2px 10px rgba(94, 101, 111, 0.2);
}
@media (min-width: 768px) {
  .article-feature .image-wrapper .shape:before {
    top: 24px;
    left: 15px;
  }
}
.lt-ie9 .article-feature .image-wrapper .shape:before {
  top: 24px;
  left: 15px;
}
.article-feature .photo {
  position: relative;
  margin: 0 0 20px 0px;
}

/* ------------------------------------------------------------------


	VIDEOS
----------------------------------------------------------------- */
.ss-icon.ss-standard {
  position: relative;
  top: 2px;
  padding-right: 10px;
  font-size: 19px;
  color: #6c90db;
}
@media (min-width: 768px) {
  .ss-icon.ss-standard {
    font-size: 20px;
  }
}
.lt-ie9 .ss-icon.ss-standard {
  font-size: 20px;
}

.island h2.media-label {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 35px;
  color: #6c90db;
}
@media (min-width: 768px) {
  .island h2.media-label {
    font-size: 30px;
    line-height: 42px;
  }
}
.lt-ie9 .island h2.media-label {
  font-size: 30px;
  line-height: 42px;
}

.buvideoWrapper {
  margin: 0;
}

/* ------------------------------------------------------------------


	COMMENTS & FOOTER
----------------------------------------------------------------- */
#comments_related_wrapper,
footer {
  position: relative;
}

.meta-share.meta-item a,
.meta-download.meta-item a {
  border-bottom: none;
}

.article-meta-footer .article-meta .meta-tags a {
  background: #6c90db;
  border: 1px solid #192340;
}
.article-meta-footer .article-meta .meta-tags a:hover {
  border-bottom: none;
}
.article-meta-footer .article-meta .meta-share a,
.article-meta-footer .article-meta .meta-download a {
  color: #6c90db;
  font-size: 15px;
}

input[type=submit] {
  background-color: #6c90db;
}
input[type=submit]:hover {
  background-color: #a2dfd0;
}

#comments_related_wrapper {
  background-color: #192340;
}
#comments_related_wrapper h3,
#comments_related_wrapper label {
  color: #ffffff;
}
#comments_related_wrapper p {
  color: #848d91;
}
#comments_related_wrapper a {
  border-bottom: 1px solid #a2dfd0;
  color: #6c90db;
  text-decoration: none;
}
#comments_related_wrapper a:hover {
  border-bottom: 1px solid #a2dfd0;
  color: #a2dfd0;
  text-decoration: none;
}

#comments_related_content > section > h3,
#comments_related_wrapper h3,
footer .widget-bu-posts h2,
footer .widget_text h2 {
  border-color: #848d91;
}

footer {
  background-color: #191d38;
}
footer .widget_text .more-link {
  background-color: #6c90db;
}
footer .widget-bu-posts article .meta {
  color: #a2dfd0;
}

/* ------------------------------------------------------------------


	GRID CLASSES
----------------------------------------------------------------- */
.row [class*="col-"] {
  padding: 0;
}
@media (min-width: 768px) {
  .row [class*="col-"] {
    padding: 0 15px 0 0;
  }
}
.lt-ie9 .row [class*="col-"] {
  padding: 0 15px 0 0;
}

.row {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  clear: both;
}

.col-md-4 {
  float: left;
  width: 50%;
}
@media (min-width: 768px) {
  .col-md-4 {
    width: 44%;
  }
}
.lt-ie9 .col-md-4 {
  width: 44%;
}

/*
.lt-ie9  {
  max-width: 420px;
  margin: 0 0 20px 40px;
}
*/
/*
.lt-ie9 .article-feature .alignright {
  margin: 0 -75px 20px 40px;
}
*/
#map {
  height: 75%;
  position: relative;
  clear: both;
  border: 1px solid rgba(127, 127, 127, 0.4);
}
#map .gm-style-pbt {
  color: #ffffff;
}

.shark-map-container {
  height: 100%;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .shark-map-container {
    margin: 50px 5px;
  }
}
.lt-ie9 .shark-map-container {
  margin: 50px 5px;
}
.shark-map-container h3 {
  font-size: 17px;
  line-height: 28px;
  color: #a2dfd0;
}
.shark-map-container p {
  color: #414142;
  font-family: "Benton-Sans", Helvetica, Arial, sans-serif;
}

.shark-text-wrapper {
  margin: 0 auto;
  max-width: 989px;
}
.shark-text-wrapper p {
  color: #ffffff;
}
.shark-text-wrapper h2 {
  margin: 0 0 5px;
  font-size: 24px;
}
.shark-text-wrapper h3 {
  margin-top: 25px;
  color: #a2dfd0;
}
.shark-text-wrapper a {
  border-bottom: 2px solid #a2dfd0;
  color: #fff;
  text-decoration: none;
}
.shark-text-wrapper ul {
  list-style: circle;
}
.shark-text-wrapper .legend {
  list-style: none;
  margin: 0;
  font-size: 16px;
}
.shark-text-wrapper li {
  max-width: 95%;
  line-height: 28px;
}
.shark-text-wrapper .row [class*="col-"] {
  padding: 0 13px;
}
.shark-text-wrapper .col-sm-4 {
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .shark-text-wrapper .col-sm-4 {
    width: 30.5%;
  }
}
.lt-ie9 .shark-text-wrapper .col-sm-4 {
  width: 30.5%;
}

.shark-selector {
  border: 2px solid #948a83;
  float: left;
  margin: 0px 0px 20px 50px;
  padding: 10px 20px 0px 20px;
}
.shark-selector button {
  margin-bottom: 10px;
}

.infowindow {
  margin: 15px 5px;
}
.infowindow h3 {
  color: #6c90db;
  line-height: 22px;
  margin-bottom: 10px;
}
.infowindow p {
  margin-bottom: 10px;
}

/* -----MODALS----- */
body.modal-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
}

.modal-shark .overlay {
  background: #192340;
}

.overlay article {
  margin: 60px auto 40px auto;
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
  padding: 20px 25px;
}

/* -----CLOSE BUTTON----- */
/*
.modal-shark .overlay {
  background-image: url(images/background-texture.jpg);
}
*/
.modal-shark .overlay .overlay-close {
  background: url(images/close.png) no-repeat 50% 0;
}

.modal-shark .overlay a {
  text-indent: -2000px;
}

.overlay .overlay-close {
  width: 60px;
  height: 60px;
  position: absolute;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 30px;
  overflow: hidden;
  border: none;
  text-indent: 200%;
  outline: none;
  z-index: 100;
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

.lt-ie9 .overlay .overlay-close {
  top: auto;
}

.modal-shark .overlay-close:hover {
  background: url(images/close.png) no-repeat 50% 100%;
  border-bottom: none;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  z-index: 3000;
  visibility: visible;
  opacity: 1;
  overflow: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

/*# sourceMappingURL=style.css.map */
