@include warning;

// Start writing your styles in this file.

// Although this is written in SASS, you can write plain CSS here.
// SASS will handle plain CSS beautifully, and you don't have to do anything more.

// If you want to learn SASS, though (and you should give it a try if you have time!),
// here are some helpful resources:

// http://sass-lang.com/guide - A great overview of the extras SASS gives you over CSS.
// http://www.sassmeister.com/ is an excellent place to try out some of those SASS extras and see what happens.

/* -----------------------------------------------------------------


	BODY
----------------------------------------------------------------- */
body {
	background: $white;
	-webkit-font-smoothing: antialiased;
	
	p {
		color: $color-primary;
	}
}


/* -----------------------------------------------------------------


	MASTHEAD
----------------------------------------------------------------- */
#primary #masthead {
	border-bottom: none;
	background-color: $navy;
}


/* -----------------------------------------------------------------


	BANNER CONTAINER
----------------------------------------------------------------- */
.banner-container.any-width-blank {
    background: $navy;
    color: $white;
    text-align: center;
}

.banner-wrapper {
	top: 25px;
	max-width: 75%;
	display: inline-block;
	position: relative;
	margin: 0px auto;
    padding: 50px 0px 25px;
    border: 20px solid $blue;

	// @include breakpoint (xs) {
	// 	top: 250px;
	// }

	@include breakpoint (sm) {
		top: 50px;
		max-width: 668px;
	}

	@include breakpoint (md) {
		top: 65px;
		padding: 110px 50px 90px;
		border: 52px solid $blue;
	}
	
	@include breakpoint (xl) {
		top: 85px;
	}
}

.title {
	display: inline-block;
	max-width: 85%;
	
	@include breakpoint (sm) {
		max-width: 456px;
	}
}

.banner-container {
	h1 {
		font-family: $fontFamily-display;
		font-size: $fontSize-larger;
		line-height: $lineHeight-larger;
				
		@include breakpoint (sm) {
			font-size: 74px;
			line-height: $lineHeight-largest;	
		}
		
		span {
			font-size: 43px;
			
			@include breakpoint (sm) {
				font-size: 86px;				
			}
		}
	}
	
	h2 {
		display: inline-block;
		max-width: 375px;
		font-family: $fontFamily-body;
		font-size: $fontSize-base;
		font-weight: normal;
		line-height: 24px;
		
		@include breakpoint (sm) {
			font-size: $fontSize-small;
			line-height: $lineHeight-base;
		}
		
		&:before {
			content: "";
			display: block;
			position: relative;
		    top: -14px;		
		    height: 55px;
		    width: 55px;
		    margin: 0 auto 6px;
		    background: url(images/shark-fin.png) center center no-repeat;
		}
	}
	
	h3 {
		font-family: $fontFamily-sansSerif;
		font-size: $fontSize-base;
		color: $green;
		font-weight: 100;
		text-transform: uppercase;
	}
}

.intro-container {
	width: 100%;
    margin: 185px auto 0;
    padding-bottom: 20px;
    text-align: left;
    background: $dark-blue;
    
	.lede {
	    max-width: 700px;
	    margin: 0 auto;
	    padding: 250px 0;
	    font-family: $fontFamily-body;
	    font-size: $fontSize-medium;
	    line-height: $lineHeight-medium;
	    color: $white;
	    
	    .drop-cap {
			height: 73px;
		    width: 82px;
		    display: block;
		    margin: 10px 17px 0px 0;
		    border: 6px solid #a2dfd0;
		    font-family: "Brandon-Text", Times, serif;
		    font-size: 58px;
		    font-weight: 600;
		    line-height: 85px;
		    text-align: center;
		    float: left;
		}
		
		.emphasis {
			display: block;
			margin-top: 32px;
			font-family: $fontFamily-sansSerif;
			text-transform: uppercase;
		}
    }
}


/* -----------------------------------------------------------------


	CONTENT LAYOUT
----------------------------------------------------------------- */
.content-wrapper {
	background: $white;
	margin: 20px 0;

	@include breakpoint (sm) {
		margin: 40px 0;
	}

	@include breakpoint (md) {
		margin: 50px 0;
	}
}

.article-feature .island {
	max-width: 700px;
}


/* -----------------------------------------------------------------


	TYPOGRAPHY
----------------------------------------------------------------- */
.island {
	max-width: 675px;
	font-family: $fontFamily-body;
	font-size: $fontSize-base;
	line-height: $lineHeight-base;
	color: $color-primary;

	a {
		border-bottom: 2px solid $green;
		color: $navy;
		text-decoration: none;
		
		&:hover {
			border-bottom: 2px solid $green;
			color: $green;
			text-decoration: none;
		}
	}
}

.island_full,
.island,
.sidebar-inside,
article {
	h2 {
		font-family: $fontFamily-display;
		font-weight: 600;
		color: $white;
	}
	
	h3 {
		font-family: $fontFamily-sansSerif;
		text-transform: uppercase;
		font-weight: 100;
	}
}

/* ------------------------------------------


	HEADERS
------------------------------------------ */
.header-wrapper {
	width: 100%;
	height: 200px;
	margin: 100px auto 40px;
	text-align: center;
	background: $dark-blue;
	
	@include breakpoint (sm) {
		max-width: 1220px;
		height: 350px;
	}
	
	h2 {
		display: inline-block;
		margin-top: -100px;
		font-size: 52px;
		
		&:before {
		    content: "";
		    position: relative;
		    display: block;
		    top: 144px;
			height: 220px;
		    width: 200px;
		    margin: 0 auto;
		    border: 22px solid $blue;
		}
	}
} 


/* -----------------------------------------------------------------


	SIDEBARS
----------------------------------------------------------------- */
.sidebar {
	margin: 50px 0;
	
	@include breakpoint (sm) {
// 		max-width: 800px;
		margin: 75px -62px 75px;
	}
}

.sidebar-title {
	height: 250px;
	
	h2 {
	    display: inline-block;
	    position: relative;
	    margin: 129px 0;
	    text-shadow: 0 2px 10px rgba(94,101,111,0.2);

		&:before {
			content: "";
			position: relative;
			display: inline-block;
			top: 28px;			
			height: 65px;
			width: 60px;
			margin: 0 25px 0 18px;
			border: 6px solid #a2dfd0;
		}
	}
}

.sidebar-seals {
	background: url(images/sidebar-seal.png) center top;

}

.sidebar-sharks {
	background: url(images/sidebar-sharks.png) center top;
}

.sidebar-text {
	box-shadow: 0 0 12px 3px rgba(94,101,111,0.15);
	text-align: center;
	padding: 20px;
	
	@include breakpoint (sm) {
		padding: 50px 100px;
	}
	
	p {
		font-family: $fontFamily-sansSerif;
		color: $color-secondary;
	}
	
	a {
		margin: 40px 0 12px;
		font-size: $fontSize-smaller;
		color: $blue;
	}
}

a#toggle {
    display: block;
    left: 0;
    right: 0;
    width: 50px;
    margin: auto;   
    border-bottom: none; 
    text-decoration: none;
    cursor: pointer;
	   
	.toggleBtn {
		width: 25px;
	    height: 25px;
	    left: 0;
	    right: 0;	    
	    margin: auto;
	    border: 3.15px solid $green-o;
	    border-radius: 50%;
	    color: #fff;
	    text-align: center;
        text-decoration: none;
	    cursor: pointer;
	}
	
	.expand {
	    font-weight: 900;
	    font-family: $fontFamily-display;
	    font-size: $fontSize-medium;
	    color: $green;
	    line-height: 29px;
		text-decoration: none;
	    cursor: pointer;
	}
}

.sidebar-inside {
	max-width: 500px;
	margin: 20px auto 0;
	text-align: left;
	
	@include breakpoint (sm) {
		margin: 50px auto 0;
	}
	
	h3 {
		margin: 40px 0 10px;
		font-size: 18px;
		color: $blue;
	}
	
	ul {
		list-style: circle;
	}
	
	li {
		font-size: 16px;
		color: $color-secondary;
	}
}

/* ------------------------------------------------------------------


	IMAGES
----------------------------------------------------------------- */
.article-feature {
	.alignright {
		max-width: 100%;
		margin: 20px auto;
		
		@include breakpoint (xs) {
			max-width: 450px;
		    margin: 0 0 20px 40px;
		}
		
		@include breakpoint (sm) {
			margin: 0 -100px 20px 40px;
		}
	}

	.photo {
		.caption {
			margin-top: 0;
			padding: 30px 40px 45px;
			font-family: $fontFamily-sansSerif;
			color: $color-secondary;
			font-size: $fontSize-smaller;
			line-height: $lineHeight-small;
			box-shadow: 0 0 12px 3px rgba(94,101,111,0.15);
		}
		
		.credit {
			font-family: $fontFamily-sansSerif;
			font-size: $fontSize-smallest;
			color: $blue;
			font-style: italic;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}


/*
.lt-ie9 .article-feature .alignright {
  max-width: 420px;
  margin: 0 0 20px 40px;
}
*/

/*
.lt-ie9 .article-feature .alignright {
  margin: 0 -75px 20px 40px;
}
*/