/* BRANDON */
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Regular/2BA300_7_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Regular-Italic/2BA300_6_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Medium/2BA300_8_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Medium-Italic/2BA300_B_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Bold/2BA300_1_0.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Brandon-Text";
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.eot");
  src: url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.eot?#iefix") format("embedded-opentype"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.woff") format("woff"),
       url("https://www.bu.edu/cdn/fonts/BrandonText-Bold-Italic/2BA300_0_0.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}


/* ROBOTO */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
