@include warning;

// Start writing your styles in this file.

// Although this is written in SASS, you can write plain CSS here.
// SASS will handle plain CSS beautifully, and you don't have to do anything more.

// If you want to learn SASS, though (and you should give it a try if you have time!),
// here are some helpful resources:

// http://sass-lang.com/guide - A great overview of the extras SASS gives you over CSS.
// http://www.sassmeister.com/ is an excellent place to try out some of those SASS extras and see what happens.

/* -----------------------------------------------------------------


	BODY
----------------------------------------------------------------- */
body {
	background: $white;
	-webkit-font-smoothing: antialiased;
	
	p {
		color: $color-primary;
	}
}


/* -----------------------------------------------------------------


	MASTHEAD
----------------------------------------------------------------- */
#primary #masthead {
	border-bottom: none;
	background-color: $navy;
}


/* -----------------------------------------------------------------


	BANNER CONTAINER
----------------------------------------------------------------- */
.banner-container.any-width-blank {
    background: transparent;
    color: $white;
    text-align: center;
    position: relative;
}

.banner-wrapper {
    z-index:1;
    display:block;
    width:100%;
    background: #1b1c39;
    height:100vh;
    position: relative;
    margin-top:-76px;
    


	@include breakpoint (xs) {

	}

	@include breakpoint (sm) {

	}

	@include breakpoint (md) {
		background-color: transparent;
		background-image: url(images/video-mask.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;
	}
	
	@include breakpoint (xl) {

	}

}

.banner-container {
	h1 {
		font-family: $fontFamily-display;
		font-size: $fontSize-larger;
		line-height: $lineHeight-larger;
				
		@include breakpoint (sm) {
			font-size: 68px;
			line-height: $lineHeight-largest;	
		}
	}
	
	h2 {
		display: inline-block;
		max-width: 375px;
		font-family: $fontFamily-body;
		font-size: $fontSize-base;
		font-weight: normal;
		line-height: 24px;
		
		@include breakpoint (sm) {
			font-size: $fontSize-small;
			line-height: $lineHeight-base;
		}
		
		&:before {
			content: "";
			display: block;
			position: relative;
		    top: -14px;		
		    height: 55px;
		    width: 55px;
		    margin: 0 auto 6px;
		    background: url(images/shark-fin.png) center center no-repeat;
		}
	}
	
	h3 {
		font-family: $fontFamily-sansSerif;
		font-size: $fontSize-base;
		color: $green;
		font-weight: 100;
		text-transform: uppercase;
	}
	
	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 75%;
		
		@include breakpoint (md) {
			width: 33%;
		}
	}
}

.intro-container {
	width: 100%;
    text-align: left;
    z-index: 1;
    position: relative;
    
	.lede {
	    max-width: 700px;
	    margin: 0 20px;
	    padding: 250px 0;
	    font-family: $fontFamily-body;
	    font-size: $fontSize-medium;
	    line-height: $lineHeight-medium;
	    color: $white;
	    
	    @include breakpoint (sm) {
		    margin: 0 auto;
	    }
	    
	    .drop-cap {
			height: 73px;
		    width: 82px;
		    display: block;
		    margin: 10px 17px 0px 0;
		    border: 6px solid #a2dfd0;
		    font-family: "Brandon-Text", Times, serif;
		    font-size: 58px;
		    font-weight: 600;
		    line-height: 85px;
		    text-align: center;
		    float: left;
		}
		
		.emphasis {
			display: block;
			margin-top: 32px;
			font-family: $fontFamily-sansSerif;
			text-transform: uppercase;
		}
    }
}

.shark-video {
	position:fixed;
	left:0;
	top:0;
	height: 100vh;
	width: 100%;
	
	video,
	img {
		width: 100vw;
	    height: 100vh;
	    object-fit: cover;
	    position: fixed;
	    left: 0px;
	    top: 0px;
	    z-index: -1;
	}
	
	video {
		display:none;
		
		@include breakpoint (md) {
			display:block;
		}
	}
	
	img {
		
		@include breakpoint (md) {
			display:none;
		}
	}
}

/* -----------------------------------------------------------------


	CONTENT LAYOUT
----------------------------------------------------------------- */
.content-wrapper {
	background: $white;
	margin: 20px 0;

	@include breakpoint (sm) {
		margin: 40px 0;
	}

	@include breakpoint (md) {
		margin: 50px 0;
	}
}

.article-feature .island {
	max-width: 700px;
}


/* -----------------------------------------------------------------


	TYPOGRAPHY
----------------------------------------------------------------- */
.island {
	max-width: 675px;
	font-family: $fontFamily-body;
	font-size: $fontSize-base;
	line-height: $lineHeight-base;
	color: $color-primary;

	a {
		border-bottom: 2px solid $green;
		color: $navy;
		text-decoration: none;
		
		&:hover {
			border-bottom: 2px solid $green;
			color: $green;
			text-decoration: none;
		}
	}
}

.island_full,
.island,
.sidebar-inside,
article {
	h2 {
		font-family: $fontFamily-display;
		font-weight: 600;
		color: $white;
	}
	
	h3 {
		font-family: $fontFamily-sansSerif;
		text-transform: uppercase;
		font-weight: 100;
	}
}

.caption {
	margin-top: 0;
	padding: 30px 20px;
	font-family: $fontFamily-sansSerif;
	color: $color-secondary;
	font-size: $fontSize-smaller;
	line-height: $lineHeight-small;
	box-shadow: 0 0 12px 3px rgba(94,101,111,0.15);
	
	@include breakpoint (sm) {
		padding: 30px 40px 45px;
	}
	
	h3 {
		margin: 40px 0 10px;
		font-size: 18px;
		color: $blue;
	}
	
	ul {
		list-style: none;
		margin: 0;
	}
	
	li {
		font-size: 16px;
		color: $color-secondary;
	}
}
		
.credit {
	font-family: $fontFamily-sansSerif;
	font-size: $fontSize-smallest;
	color: $blue;
	font-style: italic;
	text-transform: uppercase;
}
.sidebar-title .credit {
	right:0 !important;
	left: 10px;
	top: 40px;
	margin:0;
	color:#6c90db !important;
	
	@include breakpoint (md) {
		left: -40px;
	}
}


/* ------------------------------------------


	HEADERS
------------------------------------------ */
.island_full {
	margin: -20px;
	
	@include breakpoint (sm) {
		margin: 0;
	}
}

.header-wrapper {
	width: 100%;
	height: 250px;
	margin: 75px auto 40px;
	text-align: center;
		
	@include breakpoint (sm) {
		max-width: 1220px;
		height: 350px;
		margin: 100px auto 40px;
	}
	
	h2 {
		top: 80px; 
	    font-size: $fontSize-larger;
	    line-height: $lineHeight-large;
	    position: relative;
	    display: inline-block;
	    z-index: 5;
	    
	    @include breakpoint (xs) {
		    top: 90px;
	        padding: 0 74px;
	    }
	    
	    @include breakpoint (sm) {
			top: 135px;
			padding: 0 75px;
			font-size: 52px;
			line-height: $lineHeight-larger;
	    }
	    
	    @include breakpoint (md) {
			top: 155px;
		}
	}
	
	.shape {
		top: -62px;
	    width: 100px;
	    height: 110px;
	    position: relative;
	    margin: 0 auto;
	    border: 22px solid $blue;
	    z-index: 3;
	    
	    @include breakpoint (xs) {
			top: -62px;
			width: 125px;
			height: 130px;
	    }
	    
	    @include breakpoint (sm) {
			top: -70px;
		    width: 190px;
		    height: 200px;		    
	    }
	    
	    @include breakpoint (md) {
		    top: -20px;
	    }
	}
	
	.credit {
	    position: absolute;
	    right: 40px;
	    display: block;
	    margin-top: 22px;
	    color: rgba(230, 230, 236, 0.3);
	    font-family: $fontFamily-sansSerif;
	    font-style: italic;
	    text-transform: uppercase;
	    z-index: 1000;
    }
} 

.header-one {
	background: url(images/gregskomal-shark-wrapper.png) center center no-repeat $dark-blue;
}

.header-two {
	background: url(images/gregskomal-shark-wrapper2.png) center center no-repeat $dark-blue;
	
	h2 {
		padding: 0 50px;
		    
	    @include breakpoint (xs) {
	        padding: 0 127px;
	    }
		    
	    @include breakpoint (sm) {
			padding: 0 201px;
	    }
	}
}

.screen {
    height: 250px;
	top: -262px;
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 1220px;
    background-color: rgba(25, 35, 64, 0.75);
    z-index: 1;
    
    @include breakpoint (xs) {
		top: -282px;
    }
    
    @include breakpoint (sm) {
	    height: 350px;
	    top: -371px;
    }
    
    @include breakpoint (md) {
	    top: -320px;
    }
}


/* -----------------------------------------------------------------


	SIDEBARS
----------------------------------------------------------------- */
.sidebar {
	margin: 50px 0;
	
	@include breakpoint (sm) {
// 		max-width: 800px;
		margin: 65px -62px;
	}
}

.sidebar-title {
	height: 250px;
	
	h2 {
		display: inline-block;
	    position: relative;
	    margin: 130px 15px 0px;
	    font-size: 28px;
	    text-shadow: 0 2px 10px rgba(94,101,111,0.2);
	    
	    @include breakpoint (xs) {
		    margin: 180px 0 0;
		    font-size: $fontSize-large;
	    }
	    
/*
	    @include breakpoint (sm) {
		    margin: 180px 0 0;
	    }
*/
	}
		
	.shape {
	    position: relative;
	    display: inline-block;
		top: 110px;
		height: 54px;
		width: 53px;
		margin: 0px 20px 0 15px;
	    border: 8px solid $blue;
	    z-index: 3;
	    
	    @include breakpoint (xs) {
		    top: -15px;
	    }
	    
	    @include breakpoint (sm) {
			top: -18px;
	    	height: 62px;
	    	width: 60px;
	   		margin: 0px 20px 0 18px;	    
	    }
	    
	    &:before {
			content: "+";
			position: relative;
			top: 20px;
			left: 12px;
			font-family: $fontFamily-display;
			font-size: 45px;			
			color: $white;
			font-weight: 900;
			text-align: center;
		    text-shadow: 0 2px 10px rgba(94,101,111,0.2);
		    
		    @include breakpoint (sm) {
				top: 23px;
				left: 16px;	    
		    }
	    }
	}
	
	.credit {
	    position: absolute;
	    right: -48px;
	    display: block;
	    margin-top: -37px;
	    color: rgba(255, 255, 255, 0.6);
	    font-family: $fontFamily-sansSerif;
	    font-style: italic;
	    text-transform: uppercase;
	    z-index: 1000;
    }
}

.sidebar-seals {
	background: url(images/sidebar-seal.png) center top;
}

.sidebar-sharks {
	background: url(images/sidebar-sharks.png) center top;
}

.sidebar-text {
	box-shadow: 0 0 12px 3px rgba(94,101,111,0.15);
	text-align: center;
	padding: 30px 15px;
	
	@include breakpoint (xs) {
		padding: 50px 30px;
	}

	@include breakpoint (sm) {
		padding: 50px 100px;
	}
	
	p {
		font-family: $fontFamily-sansSerif;
		color: $color-secondary;
	}
	
	a {
		margin: 40px 0 12px;
		font-size: $fontSize-smaller;
		color: $blue;
		border-bottom: 1px solid $blue;
	}
}


/* ------------------------------------------------------------------


	IMAGES
----------------------------------------------------------------- */
.article-feature {
	.alignright {
		max-width: 100%;
		margin: -65px auto 20px;
		
		@include breakpoint (xs) {
			max-width: 450px;
		    margin: -65px 0 20px 40px;
		}
		
		@include breakpoint (md) {
			margin: -65px -100px 20px 40px;
		}
	}
	
	.image-wrapper {
		position: relative;
		
		.shape {
		    position: relative;
			display: inline-block;
		    bottom: -152px;
		    height: 54px;
		    width: 53px;
			margin-left: 15px;
			border: 6px solid $green;
			z-index: 3;
			
			@include breakpoint (sm) {
				bottom: -194px;
				height: 59px;
				width: 58px;
			}
	    
			&:before {
				content: "+";
				position: relative;
				top: 20px;
				left: 12px;
				font-family: $fontFamily-display;
				font-size: 45px;			
				color: $white;
				font-weight: 900;
				text-align: center;
				text-shadow: 0 2px 10px rgba(94,101,111,0.2);
				
				@include breakpoint (sm) {
					top: 24px;
					left: 15px;
				}
		    }
		}
		
/*
		.alignright {
		
			@include breakpoint (xs) {
				max-width: 450px;
			    margin: -65px 0 20px 40px;
			}
			
			@include breakpoint (sm) {
				margin: -65px -100px 20px 40px;
			}
		}
*/
	}

	.photo {
		position: relative;
		margin: 0 0 20px 0px;
	}
}


/* ------------------------------------------------------------------


	VIDEOS
----------------------------------------------------------------- */
.ss-icon.ss-standard {
	position: relative;
	top: 2px;
    padding-right: 10px;
    font-size: 19px;
    color: $blue;
    
    @include breakpoint (sm) {
	    font-size: 20px;
    }
 }

.island h2.media-label {
	margin-bottom: 10px;
    font-size: 26px;
    line-height: $lineHeight-medium;
	color: $blue;
	
	@include breakpoint (sm) {
		font-size: $fontSize-large;
		line-height: $lineHeight-large;
	}
}

.buvideoWrapper {
	margin: 0;
}


/* ------------------------------------------------------------------


	COMMENTS & FOOTER
----------------------------------------------------------------- */

#comments_related_wrapper,
footer {
	position:relative;
}

.meta-share.meta-item a,
.meta-download.meta-item a {
    border-bottom: none;
}

.article-meta-footer {
	.article-meta {
		.meta-tags a {
			background: $blue;
			border: 1px solid $dark-blue;
			
			&:hover {
				border-bottom: none;
			}
		}
				
		.meta-share a,
		.meta-download a {
			color: $blue;
			font-size: $fontSize-smaller;
		}
	}
}

input[type=submit] {
	background-color: $blue;
	
	&:hover {
		background-color: $green;
	}
}

#comments_related_wrapper {
	background-color: $dark-blue;
	
	h3,
	label {
		color: $white;
	}
	
	p {
		color: $gray;
	}
	
	a {
		border-bottom: 1px solid $green;
		color: $blue;
		text-decoration: none;
		
		&:hover {
			border-bottom: 1px solid $green;
			color: $green;
			text-decoration: none;
		}
	}
}

#comments_related_content > section > h3,
#comments_related_wrapper h3,
footer .widget-bu-posts h2, 
footer .widget_text h2 {
	border-color: $gray;
}

footer {
	background-color: $navy;

	.widget_text {
		.more-link {
			background-color: $blue;
		}
	}
	
	.widget-bu-posts {
		article .meta {
			color: $green;
		}
	}
}


/* ------------------------------------------------------------------


	GRID CLASSES
----------------------------------------------------------------- */
.row [class*="col-"] {
	padding: 0;

	@include breakpoint (sm) {
		padding: 0 15px 0 0;
 	}
}

.row {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	clear: both;
}

.col-md-4 {
	float: left;
	width: 50%;
	
	@include breakpoint (sm) {
		width: 44%;
	}
}	

/*
.lt-ie9  {
  max-width: 420px;
  margin: 0 0 20px 40px;
}
*/

/*
.lt-ie9 .article-feature .alignright {
  margin: 0 -75px 20px 40px;
}
*/
