#map {
	height: 75%;
	position: relative;
	clear: both;
	border: 1px solid rgba(127, 127, 127, 0.4);

	.gm-style-pbt {
		color: $white;
	}
}

.shark-map-container {
	height: 100%;
	margin: 20px 0;
	
	@include breakpoint (sm) {
		margin: 50px 5px;
	}
	
	h3 {
		font-size: $fontSize-base;
		line-height: $lineHeight-base;
		color: $green;
	}
	
	p {
		color: $color-primary;
		font-family: $fontFamily-body;
	}
}

.shark-text-wrapper {
    margin: 0 auto;
    max-width: 989px;
    
    p {
		color: $white;
	}
	
	h2 {
		margin: 0 0 5px;
		font-size: 24px;
	}
	
	h3 {
		margin-top: 25px;
		color: $green;
	}
	
	a {
		border-bottom: 2px solid $green;
		color: #fff;
		text-decoration: none;
	}
	
	ul {
		list-style: circle;
	}
	
	.legend {
		list-style: none;
		margin: 0;
		font-size: 16px;
	}
	
	li {
		max-width: 95%;
		line-height: $lineHeight-base;
	}
	
	.row [class*="col-"] {
    	padding: 0 13px;
	}

	.col-sm-4 {
		float: left;
		width: 100%;
	
		@include breakpoint (sm) {
			width: 30.5%;
		}
	}	
}

.shark-selector {
	border: 2px solid #948a83;
	float: left;
	margin: 0px 0px 20px 50px;
	padding: 10px 20px 0px 20px;
	
	button {
    	margin-bottom: 10px;
	}
}

.infowindow {
    margin: 15px 5px;
    
    h3 {
		color: $blue;
		line-height: $lineHeight-smaller;
		margin-bottom: 10px;
	}
	
	p {
		margin-bottom: 10px;
	}
}


/* -----MODALS----- */
body.modal-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
}

.modal-shark .overlay {
  background: $dark-blue;
}

.overlay article {
  margin: 60px auto 40px auto;
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
  padding: 20px 25px;
}


/* -----CLOSE BUTTON----- */
/*
.modal-shark .overlay {
  background-image: url(images/background-texture.jpg);
}
*/

.modal-shark .overlay .overlay-close {
  background: url(images/close.png) no-repeat 50% 0;
}

.modal-shark .overlay a {
  text-indent: -2000px;
}

.overlay .overlay-close {
  width: 60px;
  height: 60px;
  position: absolute;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 30px;
  overflow: hidden;
  border: none;
  text-indent: 200%;
  outline: none;
  z-index: 100;
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

.lt-ie9 .overlay .overlay-close {
  top: auto;
}

.modal-shark .overlay-close:hover {
  background: url(images/close.png) no-repeat 50% 100%;
  border-bottom: none;
}

.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  z-index: 3000;
  visibility: visible;
  opacity: 1;
  overflow: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
