// grid & responsive layout
// -----------------------------------------------------------------

// breakpoints
$XS:                          500px !default;
$SM:                          768px !default;
$MD:                          992px !default;
$LG:                          1200px !default;
$XL:                          1900px !default;

// media queries
$MQs: true !default;

$color-primary:           	    #414142;
$color-secondary:         		#87878c;
$white:							#ffffff;
$black:							#000000;
$gray:							#848d91;
$navy:							#191d38;
$dark-blue:						#192340;
$blue: 							#6c90db;
$green:							#a2dfd0;
$green-o:						rgba(162, 223, 208, 0.5);

/*
$light-gray:					#f4f5f9;
$middle-gray:					#ebebf0;
$gray:					  		#e6e6ec;
$dark-gray: 					#333339;
$dark-gray-o:					rgba(51, 51, 57, .92);
$darker-gray:					#222227;
$darker-gray-o: 				rgba(34, 34, 39, .92);
*/


// font family
$fontFamily-display:			"Brandon-Text", Times, serif;
$fontFamily-body:			    "Benton-Sans", Helvetica, Arial, sans-serif;
$fontFamily-sansSerif:		    "Roboto Condensed", Helvetica, Arial, sans-serif;


// font sizes
$fontSize-largest:			    58px;
$fontSize-larger:				38px;
$fontSize-large:				30px;
$fontSize-medium:				22px;
$fontSize-small:				19px;
$fontSize-base:					17px;
$fontSize-smaller:			  	15px;
$fontSize-smallest:			  	14px;
$fontSize-micro:				13px;


// line height
$lineHeight-micro:		        12px;
$lineHeight-smallest:		 	16px;
$lineHeight-smaller:			22px;
$lineHeight-small:			  	26px;
$lineHeight-base:				28px;
$lineHeight-medium:			  	35px;
$lineHeight-large:			  	42px;
$lineHeight-larger:			  	52px;
$lineHeight-largest:			90px;

@import "_mixins.scss";
@import "_webfonts.scss";
@import "_grid.scss";
@import "_layout.scss";
@import "_modal.scss";
@import "_video.scss";